<p>register works!</p>

<div class="w-50 p-3 mx-auto">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <fieldset class='border p-3'>
      <legend>Register</legend>
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" formControlName="username" placeholder="Enter Username" autocomplete="username"/>
      </div>
      <div class="form-group">
          <label for="eamil">Email</label>
          
          <input type="email" class="form-control" formControlName="email" placeholder="Email" autocomplete="email"/>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password" autocomplete="new-password"/>
      </div>
      <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirm_password" placeholder="Confirm Password" autocomplete="new-password"/>
      </div>
      <div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </div>
      <small>Already having an account? login <a routerLink="/login">here</a></small>
    </fieldset>
  </form>
</div>

